* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Roboto LT", sans-serif;
  color: #333;
}
/* Navbar started */
.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3333;
  height: 4rem;
  background-color: #ffffff;
  z-index: 1;
}
.navbar .nav-left {
  position: relative;
  left: 20px;
}
.navbar .nav-left img {
  width: 4rem;
}

.navbar .nav-middle {
  display: flex;
}
/* .navbar .nav-middle ul li {
  margin: 0 20px 0 0;
}  */
.navbar .nav-middle .searchTxtBox {
  width: 400px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #cccccc;
  padding-left: 3px;
}
.navbar .nav-middle .searchBtn {
  width: 60px;
  height: 32px;
  border: 1px solid #cccccc;
  background: transparent;
  background-color: #f1f1f1;
  color: #3f3f3f;
  transition: all 0.5s;
}
.navbar .nav-middle .searchBtn:hover {
  color: black;
  cursor: pointer;
}

.navbar .nav-right ul {
  display: flex;
  position: relative;
  list-style-type: none;
  align-items: center;
  right: 20px;
}
.navbar .nav-right ul li {
  margin: 0 12px 0 0;
}
.navbar .nav-right ul .Profile img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  border: 1px solid #55adef;
}
a {
  text-decoration: none;
  color: inherit;
}
.nav-icons {
  color: #3751fe;
  font-size: 40px;
}
.activate {
  /* background-color: grey; */
  color: #55adef;
}

/* Navbar ended */
.auth {
  height: 100vh;
  background-color: #fafafa;
}

.auth {
  display: flex;
  position: absolute;
  /* align-items: center; */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.auth .tone-1 {
  height: 100vh;
  flex: 1;
  position: relative;
}
.auth .tone-2 {
  height: 100vh;
  flex: 1;
  /* border: 1px solid black; */
  position: relative;
}
.auth .tone-1 img {
  max-height: 100%;
  max-width: 90%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.auth .tone-2 .authCard {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  position: relative;
  left: 7%;
}

.authCard .appLogo {
  /* border: 1px solid black; */
  margin-top: 4rem;
  color: #3751fe;
  font-size: 1.3rem;
}
.authCard .tagLine {
  margin-top: 4rem;
  font-weight: 400;
}
.authCard .welcomeMsg {
  margin-top: 1rem;
  font-weight: 200;
}
.authCard .authForm {
  margin-top: 3rem;
}
.authCard .authForm input {
  width: 500px;
}
.filled-button {
  height: 2.2rem;
  width: 6rem;
  border: none;
  background-color: #3751fe;
  color: white;
  transition: all 0.5s;
}

.filled-button:hover {
  cursor: pointer;
  background-color: transparent;
  color: #3751fe;
  border: 1px solid #3751fe;
}
.outlined-button {
  height: 2.2rem;
  width: 6rem;
  border: none;
  background-color: transparent;
  color: #3751fe;
  border: 1px solid #3751fe;
  transition: all 0.5s;
}
.outlined-button:hover {
  cursor: pointer;
  background-color: #3751fe;
  color: white;
  border: none;
}
